*{	
	/*outline: 2px dotted red;*/
	border: 0 none;
	padding: 0;
	margin: 0;
}

	/*home page*/
	ul#start_menu{
		border-bottom: 2px solid black;
	}

		li#test_app{
			margin-left: 10%;
		}

		a#test_app{
			color: black;
		}

		li#login{
			margin-left: 60%;
		}

	/*registeration page*/
	input.register{
		border: 1px solid black;
		margin-bottom: 10px;
	}







